<ion-content>
  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" style="padding-bottom: 45px;">
    <ion-fab-button color="secondary" (click)="logout()">
      <ion-icon name="exit"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>