<ion-content *ngIf="!produto">
</ion-content>

<ion-content *ngIf="produto">
  <ion-item>
    <ion-input text-center [(ngModel)]="produto.nome" disabled="true" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input text-center [(ngModel)]="produto.preco" disabled="true" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input text-center [(ngModel)]="produto.estoque" disabled="true" type="number"></ion-input>
  </ion-item>
</ion-content>

<ion-footer no-shadow>
  <div text-center>
    <ion-button position="bottom" color="tertiary" fill="outline" shape="round" (click)="voltar()">
      <ion-icon slot="start" fill="outline" size="small" name="arrow-round-back"></ion-icon>
      Voltar
    </ion-button>
  </div>
</ion-footer>