<ion-content *ngIf="!pedido">
</ion-content>

<ion-content *ngIf="pedido">
  <ion-item>
    <ion-input text-center [(ngModel)]="pedido.id" disabled="true" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input text-center [(ngModel)]="pedido.status" disabled="true" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input text-center [(ngModel)]="pedido.quantidade" disabled="true" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input text-center [(ngModel)]="pedido.preco" disabled="true" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input text-center [(ngModel)]="pedido.produto" disabled="true" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input text-center [(ngModel)]="pedido.usuario" disabled="true" type="text"></ion-input>
  </ion-item>
</ion-content>

<ion-footer no-shadow>
  <div text-center>
    <ion-button position="bottom" color="tertiary" fill="outline" shape="round" (click)="voltar()">
      <ion-icon slot="start" fill="outline" size="small" name="arrow-round-back"></ion-icon>
      Voltar
    </ion-button>
  </div>
</ion-footer>