<ion-content *ngIf="!produtos">
</ion-content>

<ion-content *ngIf="produtos">

  <form #f="ngForm" (ngSubmit)="confirmar()">
    <ion-list>
      <ion-item>
        <ion-label>Produto</ion-label>
        <ion-select name="pedido.produto" [(ngModel)]="pedido.produto" okText="Okay" cancelText="Dismiss"
          placeholder="Selecionar">
          <ion-select-option *ngFor="let produto of produtos" [value]="produto.nome">
            {{ produto.nome }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label position="floating" style="color: gray;">Quantidade</ion-label>
      <ion-input [(ngModel)]="pedido.quantidade" name="quantidade" type="number"></ion-input>
    </ion-item>

    <br>
    <ion-button disabled="{{ buttonDisabled }}" expand="block" color="secondary" shape="round" type="submit">
      <ion-icon slot="start" fill="outline" name="arrow-round-up"></ion-icon>
      Confirmar Cadastro
      <ion-icon slot="end" fill="outline" name="arrow-round-up"></ion-icon>
    </ion-button>
  </form>
</ion-content>

<ion-footer no-shadow>
  <div text-center>
    <ion-button position="bottom" color="tertiary" fill="outline" shape="round" (click)="voltar()">
      <ion-icon slot="start" fill="outline" size="small" name="arrow-round-back"></ion-icon>
      Voltar
    </ion-button>
  </div>
</ion-footer>