<ion-content>
  <ion-list>
    <ion-item *ngFor="let produto of produtos" (click)="consultar(produto.nome)">
      <ion-label style="padding-left: 10px;">{{ produto.nome }}</ion-label>
      <ion-label style="padding-left: 10px;">{{ produto.preco }}</ion-label>
      <ion-label style="padding-left: 10px;">{{ produto.estoque }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" style="padding-bottom: 45px;">
    <!-- *ngIf="user.name === 'admin'"> -->
    <ion-fab-button href="/novo-produto" color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>