<ion-content>
  <ion-item *ngIf="pedidos">
    <ion-input text-center [(ngModel)]="nome" disabled="true" type="text"></ion-input>
  </ion-item>

  <ion-card *ngIf="pedidos">
    <ion-card-header>
      <ion-card-title>Pedidos Realizados</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item *ngFor="let pedido of pedidos">
        <ion-label>{{ pedido.produto }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer no-shadow>
  <div text-center>
    <ion-button position="bottom" color="tertiary" fill="outline" shape="round" (click)="voltar()">
      <ion-icon slot="start" fill="outline" size="small" name="arrow-round-back"></ion-icon>
      Voltar
    </ion-button>
  </div>
</ion-footer>