<ion-tabs>

  <ion-tab-bar slot="bottom" color="tertiary">
    <ion-tab-button tab="produtos">
      <ion-icon name="cube" color="warning"></ion-icon>
      <ion-label color="warning">Produtos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedidos">
      <ion-icon name="logo-buffer" color="warning"></ion-icon>
      <ion-label color="warning">Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clientes" *ngIf="user.name === 'admin'">
      <ion-icon name="people" color="warning"></ion-icon>
      <ion-label color="warning">Clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" *ngIf="user.name !== 'admin'">
      <ion-icon name="person" color="warning"></ion-icon>
      <ion-label color="warning">Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>