<ion-grid style="display: flex;">
  <ion-row justify-content-center>
    <ion-col align-self-center>
      <div text-center>
        <img src="../../../assets/logoWE.png" style="border-radius: 25%; height: 40%; width: 40%;">
      </div>

      <form #f="ngForm" (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating" style="color: gray;">E-mail</ion-label>
          <ion-input [(ngModel)]="usuario.email" name="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" style="color: gray;">Senha</ion-label>
          <ion-input [(ngModel)]="usuario.senha" name="senha" type="password"></ion-input>
        </ion-item>

        <br>
        <ion-button [disabled]="!f.valid" expand="block" color="secondary" shape="round" (click)="login()">
          <ion-icon slot="start" fill="outline" name="arrow-round-up"></ion-icon>
          Entrar
          <ion-icon slot="end" fill="outline" name="arrow-round-up"></ion-icon>
        </ion-button>
      </form>

      <div padding>
        <ion-item lines="none">
          <ion-label text-center>
            <p>Ainda não tem uma conta? <a href='cadastro'>Cadastre-se</a></p>
          </ion-label>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>