<ion-grid style="display: flex;">
  <ion-row justify-content-center>
    <ion-col align-self-center>
      <div text-center>
        <img src="../../../assets/logoWE.png" style="border-radius: 25%; height: 40%; width: 40%;">
      </div>

      <form #f="ngForm" (ngSubmit)="confirmar()">
        <ion-item>
          <ion-label position="floating" style="color: gray;">Nome Completo</ion-label>
          <ion-input [(ngModel)]="usuario.nome" name="nome" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" style="color: gray;">E-mail</ion-label>
          <ion-input [(ngModel)]="usuario.email" name="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" style="color: gray;">Senha</ion-label>
          <ion-input [(ngModel)]="usuario.senha" name="senha" type="password"></ion-input>
        </ion-item>

        <br>
        <ion-button [disabled]="!f.valid" expand="block" color="secondary" shape="round" type="submit">
          <ion-icon slot="start" fill="outline" name="arrow-round-up"></ion-icon>
          Confirmar Cadastro
          <ion-icon slot="end" fill="outline" name="arrow-round-up"></ion-icon>
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-footer no-shadow>
  <div text-center>
    <ion-button position="bottom" color="tertiary" fill="outline" shape="round" (click)="voltar()">
      <ion-icon slot="start" fill="outline" size="small" name="arrow-round-back"></ion-icon>
      Voltar
    </ion-button>
  </div>
</ion-footer>