<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let usuario of usuarios">
      <ion-item>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label style="padding-left: 10px;">{{ usuario.nome }}</ion-label>
        <ion-icon name="arrow-round-back" slot="end"></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="consultar(usuario.nome)">Consultar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" style="padding-bottom: 45px;" *ngIf="true">
    <ion-fab-button color="secondary" (click)="logout()">
      <ion-icon name="exit"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>