<ion-content>
  <ion-list>
    <ion-item *ngFor="let pedido of pedidos" (click)="consultar(pedido.id)">
      <ion-label style="padding-left: 10px;">{{ pedido.id }}</ion-label>
      <ion-label style="padding-left: 10px;">{{ pedido.status }}</ion-label>
      <ion-label style="padding-left: 10px;">{{ pedido.quantidade }}</ion-label>
      <ion-label style="padding-left: 10px;">{{ pedido.preco }}</ion-label>
      <ion-label style="padding-left: 10px;">{{ pedido.produto }}</ion-label>
      <ion-label style="padding-left: 10px;">{{ pedido.usuario }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" style="padding-bottom: 45px;">
    <ion-fab-button href="/novo-pedido" color="warning">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>