<ion-grid style="display: flex;">
  <ion-row justify-content-center>
    <ion-col align-self-center>
      <div text-center>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          style="border-radius: 50%;">
      </div>

      <ion-item>
        <ion-label position="floating" style="color: gray">Nome do Produto</ion-label>
        <ion-input [(ngModel)]="produto.nome" name="nome" type="text"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" style="color: gray">Preço Unitário</ion-label>
            <ion-input [(ngModel)]="produto.preco" name="preco" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating" style="color: gray">Estoque Inicial</ion-label>
            <ion-input [(ngModel)]="produto.estoque" name="estoque" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <br>
      <ion-button expand="block" color="secondary" shape="round" (click)="cadastrar()">Confirmar Cadastro
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-footer no-shadow>
  <div text-center>
    <ion-button position="bottom" color="tertiary" fill="outline" shape="round" (click)="voltar()">
      <ion-icon slot="start" fill="outline" size="small" name="arrow-round-back"></ion-icon>
      Voltar
    </ion-button>
  </div>
</ion-footer>